%h3 SSAC Dive Log
.dive_log
  -@dive_log.each do |planned_dive|
    .dive
      .when=format_date planned_dive.start_date
      .destination=link_to planned_dive.destination, planned_dive_path(planned_dive)