.trip_report.snippet
  %h3=link_to "#{'Trip Report - ' unless in_context}#{trip_report.destination}", trip_report_path(trip_report)
    
  -if in_context
    %h5.byline=trip_report.byline
  
  .markdown
    =markdown(trip_report.report, truncate)
  .read_more=link_to "…Read more", trip_report_path(trip_report)