-content_for :title, "Trip Reports#{" from #{@year}" if @year}"

.trip_reports
  .row.last
    .tencol
      -@trip_reports.each do |report|
        .row{class: report == @trip_reports.last ? "last" : ""}
          =render partial: "snippet", locals: {report: report}
    .twocol.last
      .years
        %h5=link_to "Recent", trip_reports_path
        -@years.each do |year|
          %h5=link_to year, trip_reports_path(year: year)