-content_for :title, "Trip Reports#{" from #{@year}" if @year}"

.trip_reports
  .row.last
    .tencol
      -@trip_reports.each do |report|
        .row{class: report == @trip_reports.last ? "last" : ""}
          =render partial: "snippet", locals: {trip_report: report, in_context: true, truncate: 1000}
    .twocol.last
      =render partial: "years"