-content_for :title, @trip_report.destination
.tripreport
  .row.last
    .tencol
      %h5.byline=@trip_report.byline

      -if @photos.present?
        =render partial: "photo_row", locals: {photos: @trip_report.photos.first(4).reject(&:nil?)}
      .row{class: @photos.size <= 4 ? "last" : ""}
        .twelvecol
          .markdown=markdown(@trip_report.report)

      -if @photos.size > 4
        -@photos.from(4).in_groups_of(4) do |photos|
          =render partial: "photo_row", locals: {photos: photos.reject(&:nil?)}
              
    .twocol.last=render partial: "years"