-content_for :title, @trip_report.destination

.tripreport
  .row.last
    .ninecol
      %h5.byline=byline(@trip_report)
      
      -while @paragraphs.present? || @photos.present?
        -if @photos.present?
          =render partial: "photo_row", locals: {photos: @photos.shift(4), style: :thumbnail_variable}
        -if @paragraphs.present?
          .row
            .twelvecol
              .markdown=raw @paragraphs.shift(2).join
              
    .threecol.last
      .row=render partial: "years"

      -if current_user
        .row.last
          =link_to 'Add your photos', add_photos_trip_report_path(@trip_report), class: "button"
          -if current_user.can_edit?(@trip_report)
            =link_to "Edit this report", edit_trip_report_path(@trip_report), class: "button"