-content_for :title, "Sydney Sub Aqua Club News"

.homepage
  .row.last
    .eightcol
      -@items.each do |item|
        .row
          -if item.class == TripReport
            =render partial: 'trip_reports/snippet', locals: {trip_report: item, in_context: false, truncate: 500}
    .fourcol.last
      .row
        %h3 Finding Us
        %p We meet for happy hour beers and dinner from 5pm every Wednesday night at the King Street Brewhouse opposite wharf 5 on Darling Harbour.
        %p
          %a.map{href: "http://maps.google.com/maps?q=king+street+brewhouse&hl=en&sll=1.282807,103.849874&sspn=0.012314,0.02105&hq=king+street+brewhouse&t=m&z=15", target: "_blank"}
            %img{src: "http://maps.google.com/staticmap?size=278x130&center=-33.866755,151.203726&zoom=16&markers=-33.866755,151.201527,bluek", alt: "King Street Brewhouse, 22 The Promenade, King Street Wharf, Sydney NSW 2000"}
        %p 
          If you want to learn more about SSAC you can read
          =link_to "about the club", club_info_path 
          or contact anyone on 
          =link_to "the committee.", committee_info_path
    
      .row.last
        %h3 Our Photos
        .gallery
          %figure
            %img{src: "http://s3.amazonaws.com/RickGrundy.com-production/images/full/245.jpg?1314682226"}
            %figcaption From <a href="#">Somewhere</a>
          %figure          
            %img{src: "http://s3.amazonaws.com/RickGrundy.com-production/images/full/244.jpg?1314682226"}
            %figcaption From <a href="#">Somewhere</a>
          %figure          
            %img{src: "http://s3.amazonaws.com/RickGrundy.com-production/images/full/243.jpg?1314682226"}
            %figcaption From <a href="#">Somewhere</a>          
          %figure                    
            %img{src: "http://s3.amazonaws.com/RickGrundy.com-production/images/full/245.jpg?1314682226"}
            %figcaption From <a href="#">Somewhere</a>          
