-content_for :title, "Sydney Sub Aqua Club News"

.homepage
  .row.last
    .eightcol
      -@items.each do |item|
        .row{class: item == @items.last ? "last" : ""}
          -if item.class == TripReport
            =render partial: 'trip_reports/snippet', locals: {trip_report: item, homepage: true, truncate: 600}
          -if item.class == PlannedDive
            =render partial: 'planned_dives/snippet', locals: {planned_dive: item, homepage: true, truncate: 600}
    .fourcol.last
      .row
        %h3 Finding Us
        %p 
          We meet from 5pm every Wednesday night at the
          =link_to "King Street Brewhouse", "http://www.kingstbrewhouse.com.au", target: "new"
          opposite wharf 5 on Darling Harbour for dinner and a few beers.
        %p
          %a.map{href: "http://maps.google.com/maps?q=king+street+brewhouse&hl=en&sll=1.282807,103.849874&sspn=0.012314,0.02105&hq=king+street+brewhouse&t=m&z=15", target: "_blank"}
            =image_tag "http://maps.google.com/staticmap?size=278x130&center=-33.866755,151.203726&zoom=16&markers=-33.866755,151.201526,bluek&key=ABQIAAAAXuaeleClw-o4jpPN3Q65gRQQ6UbtaBXBBxMw9Ols1tcFn7XgwhSCkFacUvixSfmtJLLukc8cpxuOTw", alt: "King Street Brewhouse, 22 The Promenade, King Street Wharf, Sydney NSW 2000"
        %p 
          If you want to learn more about SSAC you can read
          =link_to "about the club", club_info_path 
          or contact anyone on 
          =link_to "the committee.", committee_info_path
    
      .row.last
        %h3 Diving Photos
        .gallery
          -@photos.each do |photo|
            %figure
              =link_to image_tag(photo.image.url(:homepage_variable), alt: "A photo from #{photo.trip_report.destination}"), photo_path(photo)
              %figcaption=link_to photo.title, trip_report_path(photo.trip_report)