-content_for :title, "Sydney Sub Aqua Club News"

.homepage
  .eightcol
    Brisket capicola jowl pork chop, ribeye pastrami chuck. Short loin chuck ground round, sausage shank drumstick turkey. Tail boudin ham, chuck venison jowl bresaola pig ham hock. Andouille capicola prosciutto short ribs, flank meatloaf bresaola filet mignon tail biltong ham venison shankle leberkas shoulder. Short ribs kielbasa sirloin, hamburger salami strip steak prosciutto beef ribs ham pork belly pastrami corned beef.

    Meatball salami sirloin andouille shoulder hamburger, ball tip ham frankfurter short loin corned beef venison prosciutto beef. Meatloaf beef hamburger pork loin. Short loin boudin shoulder jerky bacon turducken. Pork chop pork belly biltong turkey. Spare ribs meatloaf andouille short ribs beef ribs pancetta sirloin strip steak.

    Pork pancetta boudin ham ground round, short loin hamburger kielbasa chicken. Fatback cow turducken, turkey meatball ham rump tenderloin capicola brisket. Ribeye hamburger pork belly, venison beef t-bone brisket bresaola ball tip sirloin spare ribs ham hock chicken turducken. Pork chop ham strip steak pork loin. Pancetta frankfurter tenderloin, salami pork chop venison turducken swine. Tri-tip rump shankle, meatloaf pastrami pork loin tail.

  .fourcol.last
    .section
      %h3 Finding Us
      %p We meet for happy hour beers and dinner from 5pm every Wednesday night at the King Street Brewhouse opposite wharf 5 on Darling Harbour.
      %a.map{href: "http://maps.google.com/maps?q=king+street+brewhouse&hl=en&sll=1.282807,103.849874&sspn=0.012314,0.02105&hq=king+street+brewhouse&t=m&z=15"}
        %img{src: "http://maps.google.com/staticmap?size=278x130&center=-33.866755,151.203726&zoom=16&markers=-33.866755,151.201527,bluek&key=ABQIAAAAXuaeleClw-o4jpPN3Q65gRQQ6UbtaBXBBxMw9Ols1tcFn7XgwhSCkFacUvixSfmtJLLukc8cpxuOTw", alt: "King Street Brewhouse, 22 The Promenade, King Street Wharf, Sydney NSW 2000"}
      %p 
        If you want to learn more about SSAC you can read
        =link_to "about the club", club_info_path 
        or contact anyone on 
        =link_to "the committee.", committee_info_path, anchor: "committee"
    
    .section.last
      %h3 Our Photos
      .gallery
        %figure
          %img{src: "http://s3.amazonaws.com/RickGrundy.com-production/images/full/245.jpg?1314682226"}
          %figcaption From <a href="#">Somewhere</a>
        %figure          
          %img{src: "http://s3.amazonaws.com/RickGrundy.com-production/images/full/244.jpg?1314682226"}
          %figcaption From <a href="#">Somewhere</a>
        %figure          
          %img{src: "http://s3.amazonaws.com/RickGrundy.com-production/images/full/243.jpg?1314682226"}
          %figcaption From <a href="#">Somewhere</a>          
        %figure                    
          %img{src: "http://s3.amazonaws.com/RickGrundy.com-production/images/full/245.jpg?1314682226"}
          %figcaption From <a href="#">Somewhere</a>          
