-content_for :title, "Sydney Sub Aqua Club"

.homepage
  .row.last
    .eightcol
      -@items.each do |item|
        .row
          -if item.class == TripReport
            =render partial: 'trip_reports/snippet', locals: {trip_report: item, homepage: true, truncate: 700}
          -if item.class == PlannedDive
            =render partial: 'planned_dives/snippet', locals: {planned_dive: item, homepage: true, truncate: 700}      
        
    .fourcol.last
      .row
        %h3 Finding Us
        =render partial: "info/pub"
        %p 
          If you want to learn more about SSAC you can read
          =link_to "about the club", club_info_path 
          or contact anyone on 
          =link_to "the committee.", committee_info_path
    
      .row.last
        %h3 Diving Photos
        .gallery
          -@photos.each do |photo|
            %figure
              =link_to image_tag(photo.image.url(:homepage_variable), alt: "A photo from #{photo.trip_report.destination}"), photo_path(photo)
              %figcaption=link_to photo.title, photo_path(photo)