.row.last
  =form_for @planned_dive do |f|
    .eightcol
      =errors_for(@planned_dive)
    
      =f.label :destination
      =f.text_field :destination

      =f.label :description
      =f.text_area :description
      
      =f.label :meeting_place_and_time, "Meeting place & time (optional)"
      =f.text_field :meeting_place_and_time
      
    .fourcol.last
      =f.label :event_type
      =f.select :event_type, ["Dive", "Camping Trip", "Social Event"]
    
      =f.label :start_date
      =f.text_field :start_date, type: "date"

      =f.label :end_date
      =f.text_field :end_date, type: "date"

      =f.label :number_of_spaces
      =f.text_field :number_of_spaces, type: "number"

      =f.label :suitable_for, "Minimum diver grade"
      =f.select :suitable_for, ["Everyone", "Ocean Divers", "Sports Divers", "Dive Leaders", "Tech Divers"]

      =f.label :divers, "Who's coming?"
      =f.text_area :divers

      =f.submit