-content_for :title, "Planned Dives"

.trip_reports
  .row.last
    .eightcol
      -@planned_dives.each do |planned_dive|
        .row{class: planned_dive == @planned_dives.last ? "last" : ""}
          =render partial: "snippet", locals: {planned_dive: planned_dive, homepage: false, truncate: 600}
    .fourcol.last
      =render partial: "instructions"