=content_for :title, @photo.title

.row.last
  .tencol
    %h4
      From
      =link_to @trip_report.destination, trip_report_path(@trip_report)
    .row.last
      .photo=link_to image_tag(@photo.image.url(:full), alt: @photo.title), trip_report_path(@trip_report)
      %h5.byline=byline(@photo)
  
  .twocol.last
    -if @next_photos.present?
      %h4 Next Photos
      -@next_photos.each do |np|
        .row=link_to image_tag(np.image.url(:thumbnail), alt: np.title), photo_path(np), title: np.title
    -if current_user && current_user.can_edit?(@photo)
      .row.last=link_to "Edit Photo", edit_photo_path(@photo), class: "button"