@import "global";
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,700);

body {
  font-family: 'Lato', 'Helvetica', 'Verdana', sans-serif;
  font-size: 15px;
  color: $text;
  line-height: 1.4em;
}

nav {
  margin-top: $spacing;
  line-height: 1.8em;
  a { 
    text-decoration: none; 
    &:hover {
      background: $very-subtle;
    }
  }
}

.account {
  text-align: right;
}

h1, h2, h3, h4, h5 {
  line-height: 1em;
}

h2 {
  font-weight: 100;
  font-size: 2.8em;
  margin-bottom: $spacing*2;
  color: $link;
}

h3, h4 {
  font-weight: 100;
  font-size: 2em;
  margin-bottom: $spacing;
  color: $link;
}

h4 {
  font-size: 1.4em;
}

img {
  display: block;
}

p {
  margin: 0 0 $spacing;
}

a, a:visited {
  color: $link;
  text-decoration: underline;
}

.error, .errors {
  color: $error;
}

form {
  input, select, textarea {
    display: block;
    border: solid 1px $subtle;
    @include recessed();
    padding: $spacing/2;
    margin-bottom: $spacing;
  }
  
  input[type='checkbox'], input[type='radio'] {
    display: inline;
  }
  
  input[type='submit'] {
    cursor: pointer;
  }

  span.note {
    font-style: italic;
    font-size: 0.8em;
  }
  
  .field_with_errors {
    color: $error;
  }
  
  #error_explanation {
    color: $error;
    h2 {  
      font-size: 1.6em;
      color: $error;
      margin-bottom: $spacing/2;
    }
  }
}

figure {
  margin-bottom: $spacing;
  img {
    width: 100%;
  }
  figcaption {
    text-align: center;
    font-size: 0.9em;
  }
}

ol {
  li {
    list-style-type: decimal;
    padding: $spacing/4;
  }
}

dl {
  clear: both;
  float: left;
  width: 100%;
  margin-bottom: $spacing;
  dt {
    float: left;
    width: 28%;
    margin-right: 2%;
    text-align: right;
  }
  dd {
    float: left;
    width: 70%;
    text-align: left;
    font-weight: bold;
  }
}