@import "global";
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,700);

body {
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 16px;
  color: $text;
  line-height: 1.5em;
}

@media all and (max-width: 767px) {
   body {
     font-size: 14px;
   } 
}

.grid {
  background: $white;
}

h2 {
  font-weight: 100;
  font-size: 2em;
}

input, select, textarea {
  display: block;
  border: solid 1px $subtle;
  @include recessed($white);
  padding: $spacing/2;
}

label {
  display: block;
  padding: $spacing 0 2px;
}

a, a:visited {
  color: $link;
  text-decoration: underline;
}