$spacing: 10px;

$text: #555;
$link: #07C;
$subtle: #DDD;
$very-subtle: #F5F5F5;
$title: #193984;
$error: #DA3838;
$notice: #53B84D;

@mixin rounded_corners($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin shadow($size: $spacing, $colour: $subtle) {
  -moz-box-shadow: 0 0 $size 0 $colour;
  -webkit-box-shadow: 0 0 $size 0 $colour;
  box-shadow: 0 0 $size 0 $colour;
}

@mixin recessed($colour: #FFF) {
  background: $colour;
  background: -webkit-gradient(linear, left bottom, left top, from($colour), to(darken($colour, 3%)));
  background: -moz-linear-gradient(bottom, $colour,  darken($colour, 3%));  
}

@mixin gradient($colour, $dim: 20%) {
  background: $colour;
  background: -webkit-gradient(linear, left top, left bottom, from($colour), to(darken($colour, $dim)));
  background: -moz-linear-gradient(top, $colour,  darken($colour, $dim));
}


@mixin bulleted_lists {
  ul {
    padding-left: 1.5em;
    li {
      list-style: square;
      padding: $spacing/2 0;
    }
  }
}

@mixin buttonify {
  @include linkify;
  @include gradient($button);
  color: #FFF;
  border: solid 1px darken($button, 15%);
  padding: $spacing;
  cursor: pointer;
  &:hover {
    background: $button;
  }
  &:active {
    background: lighten($button, 5%);
  }
}
