@media all and (max-width: 600px) {
  h2 {
    height: auto;
    font-size: 2em;
  }
  h3, h4, h5 {
    margin-top: 20px;
  }
  .account {
    display: none;
  }
  .sidebar {
    .like-button {
      display: none;
    } 
    .banner, h1 {
      display: none;
    }
    nav {
      font-size: 1em;
    }
  }
  .homepage .fourcol {
    display: none;
  }
}