@media all and (max-width: 600px) {
  h1 {
    height: auto;
    font-size: 1.5em;
    line-height: 1.5em;
  }
  .grid {
    margin-bottom: 40px;
  }
  .account {
    position: absolute;
    bottom: 20px;
  }
  h3, h4, h5 {
    margin-top: 20px;
  }
  .sidebar .banner {
    display: none;
  }
}