%p
  We meet from 6pm every Wednesday night at the
  =link_to "Grand Hotel", "http://merivale.com.au/thegrandhotel/", target: "_blank"
  on Hunter Street near Wynyard Station for dinner and a few beers.
%p
  %a.map{href: "http://maps.google.com/maps?q=grand+hotel+sydney&hl=en&ll=-33.864928,151.208267&spn=0.005114,0.010525&sll=1.282807,103.849874&sspn=0.012314,0.02105&hnear=Grand+Hotel,+Sydney+New+South+Wales+2000,+Australia&t=m&z=17", target: "_blank"}
    =image_tag "https://maps.googleapis.com/maps/api/staticmap?size=278x130&center=-33.865355,151.207226&zoom=16&markers=size:mid|color:blue|label:G|-33.865555,151.208336&key=ABQIAAAAXuaeleClw-o4jpPN3Q65gRQQ6UbtaBXBBxMw9Ols1tcFn7XgwhSCkFacUvixSfmtJLLukc8cpxuOTw", alt: "The Grand Hotel, Hunter Street, Sydney, NSW"
  