%p
  We meet after work from 6pm most Wednesday nights at the
  =link_to "Lord Nelson Brewery Hotel", "https://www.lordnelsonbrewery.con", target: "_blank"
  on Kent Street in The Rocks for dinner and a few beers.

%p
  We encourage potential new members to meet us on the first Wednesday of a calendar month as this is when most club members will be in attendance.

%p
  %a.map{href: "https://www.google.com.au/maps/place/The+Lord+Nelson+Brewery+Hotel/@-33.8581239,151.2011393,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0xad7a5e4232e73a65!8m2!3d-33.8581239!4d151.203328?hl=en", target: "_blank"}
    =image_tag "https://maps.googleapis.com/maps/api/staticmap?size=278x130&center=-33.8581239,151.2011393&zoom=16&markers=size:mid|color:blue|label:G|-33.865555,151.208336&key=AIzaSyCUcghapBayUUe5eeUXaJ5QUzDcw18GWJ8", alt: "Lord Nelson Brewery Hotel, 19 Kent St, The Rocks, Sydney, NSW"
  