-content_for :title, "About the Club"

.info
  .row
    .sevencol
      %p 
        Welcome to the Sydney Sub Aqua Club. The club was formed in in Sydney in 2004 as a non-profit diving club and is a 
        =link_to "BSAC affiliated branch.", "http://www.bsac.org/"
      %p SSAC is not tied to any commercial dive shop and provides members with regular diving at a non-commercial price in a true club environment. We welcome divers from other affiliations such as PADI and SSI - if you have your open water dive certificate and want to expand your diving you're welcome to join us.
      %p Regular dives are arranged around the Sydney area and the club also has regular trips further afield in Australia and worldwide. We're a mix of open water, technical, rebreather, photographer, wreck and wildlife divers so there's always something for everyone.    
    .fivecol.last
      %figure
        =image_tag "peteandmichelle.jpg"
        %figcaption Local Diving at South West Rocks
      
  .row
    .fivecol
      %figure
        =image_tag "bareisland.jpg"
        %figcaption BSAC Diver Training at Bare Island
    .sevencol.last
      %p The club has plenty of enthusiastic instructors who happily provide their services and skills and experiences in a non-commercial environment. Training courses are offered regularly for a range of levels. Students can further their dive training at their own pace and with no extra diving costs.
      %p 
        Over the past few years we have run courses for several new
        =link_to "Sports Divers", "http://www.bsac.com/page.asp?section=3305&sectionTitle=Sports+Diver"
        and
        =link_to "Dive Leaders", "http://www.bsac.com/page.asp?section=3306&sectionTitle=Dive+Leader"
        as well as a variety of
        =link_to "skill development courses", "http://www.bsac.com/page.asp?section=600&sectionTitle=Skill+Development+Courses+%28SDCs%29"
        and
        =link_to "technical training.", "http://www.bsac.com/page.asp?section=3635&sectionTitle=Accelerated+Decompression+Procedures"
      %p Many of our members also have a range experience and qualifications from other agencies in rebreather diving, boat skippering, cave diving and first aid and are always eager to offer advice.

  .row
    .sevencol
      %p It is traditional for at least one major overseas trip to be organised every year (often around Easter) and there are usually two or three other diving holidays catering to various interests.
      %p 
        In recent years the club has dived with wrecks and tropical fish in
        =link_to "Vanuatu", "/trip_report/ss_president_coolidge_vanuatu_2006_07_09"
        and the
        =link_to "Great Barrier Reef", "http://rickgrundy.com/RaineIslandExpedition"
        , decompressed over WWII wrecks in
        =link_to "Chuuk Lagoon", "/trip_report/chuuk_truk_lagoon_april_2011_2011_04_01"
        and rented a whole island in
        =link_to "Papua New Guinea.", "http://rickgrundy.com/Lissenung(PapuaNewGuinea)"
      %p
        Some of the best diving is found closer to home in Australia. SSAC members on recent trips have
        dived the wreck of 
        =link_to "HMAS Brisbane", "/trip_report/hmas_brisbane_2008_10_25"
        , amused the seals off
        =link_to "Jervis Bay", "/trip_report/jervis_bay_seals_2010_08_28"
        , scared the sharks at
        =link_to "South West Rocks", "/trip_report/south_west_rocks_six_of_the_best_2009_06_06"
        , explored caverns and sinkholes in
        =link_to "South Australia.", "/trip_report/cave_diving_in_mount_gambier_2011_07_30"      
        and lived in a caravan in
        =link_to "Tasmania", "/trip_report/tasmania_2008_12_20"
    
    .fivecol.last
      %figure
        =image_tag "png.jpg"
        %figcaption Tropical Diving in Papua New Guinea
          
  .row 
    .fivecol
      %figure
        =image_tag "kangaroovalley.jpg"
        %figcaption Canoeing Weekend in the Blue Mountains
    .sevencol.last
      %p 
        SSAC has an active social side outside diving. 
        =link_to "Camping", "/trip_report/glenworth_valley_camping_weekend_(alternative_to_hairy_knuckles_weekend)_2011_03_26"
        ,
        =link_to "canoeing", "/trip_report/kangaroo_valley_hairy_knuckles_weekend_2010_05_22"
        and 
        =link_to "Christmas in July", "/trip_report/christmas_in_july_2011_07_08"
        weekends have become regular events and are popular with both divers and non-diving friends and family.
      %p 
        We meet for dinner and a few beers every Wednesday night from 5pm at the 
        =link_to "King Street Brewhouse", "http://www.kingstbrewhouse.com.au"
        (opposite Darling Harbour wharf 5).
      %p Members and guests get together to talk about diving and plan the future calendar of events. These nights are a general gathering of friends and are a great chance for anyone who's considering joining the club to say hello and find out more about us.

  .row.last
    .twelvecol
      %h3#bank-account The SSAC Committee
      %p
        SSAC has seven committee members who are elected once a year to help organise and run the club. Any member can volunteer to stand for a commitee position and this year's lucky winners are:
      %dl
        %dt Chairman
        %dd=mail_to 'chairman@sydneysubaquaclub.com', Committee.chairman

        %dt Diving Officer
        %dd=mail_to 'divingofficer@sydneysubaquaclub.com', Committee.diving_officer

        %dt Secretary
        %dd=mail_to 'secretary@sydneysubaquaclub.com', Committee.secretary

        %dt Treasurer
        %dd=mail_to 'finance@sydneysubaquaclub.com', Committee.treasurer

        %dt Training Officer
        %dd=mail_to 'training@sydneysubaquaclub.com', Committee.training_officer

        %dt Expeditions Officer
        %dd=mail_to 'diving@sydneysubaquaclub.com', Committee.expeditions_officer

        %dt Web Officer
        %dd=mail_to 'web@sydneysubaquaclub.com', Committee.web_officer
      %p Feel free to email anyone on this list with any questions you have about the club or general diving in Sydney.      