!!!
%html
  %head
    %title Sydney Sub Aqua Club
    =stylesheet_link_tag "application"
    =javascript_include_tag "application"
    =csrf_meta_tags
  %body
    .container
      .sidebar
        .banner
          %h1=link_to "Sydney Sub Aqua Club - BSAC 2373", root_path
          =link_to image_tag("banner.jpg", alt: "Sydney Sub Aqua Club - BSAC 2373"), root_path
        %nav
          =link_to "About the Club", club_info_path
          =link_to "Membership", membership_info_path
          =link_to "Trip Reports", "#"
          =link_to "Planned Dives", "#"
          =link_to "Files", "#"
      
      .grid
        .row
          .ninecol
            %h2=content_for :title
          .threecol.last
            =render partial: "layouts/account"
        .row=yield