!!!
%html
  %head
    %title="#{content_for :title}"
    %meta{"http-equiv" => "Content-Type", content: "text/html; charset=UTF-8"}
    %meta{name: "keywords", content: "scuba, sydney, sydney bsac, diving, club, dive courses, dive club, diving club, sub aqua club, dive trips, social diving, BSAC"}
    %meta{name: "description", content: "SSAC is a Sydney dive club offering members SCUBA diving and social activities in the friendly environment of a BSAC branch."}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=2"}
    
    =stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato:300|Josefin+Slab:300&subset=latin&v2"
    =stylesheet_link_tag "application"
    =javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
    =javascript_include_tag "application"
    =csrf_meta_tags
  %body
    =render partial: "layouts/facebook_like_script"
    
    .container
      .sidebar
        %h1=link_to "Sydney Sub Aqua Club", root_path
        .banner
          =link_to image_tag("banner.jpg", alt: "Sydney Sub Aqua Club - BSAC 2373"), root_path
        %nav
          =link_to "Home", root_path
          =link_to "About the Club", club_info_path
          =link_to "Membership", membership_info_path
          =link_to "Trip Reports", trip_reports_path
          =link_to "Planned Dives", planned_dives_path
        
          %h5 Members Only
          =link_to "Club Documents", documents_path
          
        .row.like-button
          =render partial: "layouts/facebook_like_button", faces: false
          %br
          =link_to "SSAC on Facebook", "http://www.facebook.com/sydneysubaquaclub", target: "_blank"
      
      .grid
        .row.header
          .ninecol
            %h2=content_for :title
          .threecol.last
            =render partial: "layouts/account"
        =render partial: "layouts/flashes" unless flash.empty?
            
        =yield
      
      .footer
        &copy; Sydney Sub Aqua Club
        |
        =link_to "Contact Us", committee_info_path
        |
        =render partial: "layouts/account"
        
    =render partial: "layouts/google_analytics"